.button {
    background: $blue;
    color: white;
    border: none;
    padding: 0.5rem;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    height: 3rem;

}

.button--header {
    background: $blue;
    color: white;
    border: none;
    padding: 1.2rem;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--dark {
    @extend .button;
    background: #1d4268;
}

button:disabled {
    background: grey;
}

.button--2 {
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    margin: 0.1em
}

.button--2--dark {
    @extend .button--2;
    background: #1d4268;
}

.button--3 {
    background: $blue;
    color: white;
    border: none;
    padding: 0.5rem;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;

}

.button--link {
    background: none;
}

.button--modal {
    color: inherit;
}

.button--secondary  {
    background: #888888;
}