.button {
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;

}

button:disabled {
    background: grey;
}

.button--2 {
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    width: 100%;
}

.button--link {
    background: none;
}

.button--modal {
    color: black;
}

.button--secondary  {
    background: #888888;
}