.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}

.list-header--dark {
    @extend .list-header;
    color: white;
    background: $darktheme-blue;
}

.list-item {
    display: flex;
    flex-direction: column;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
    color: $dark-grey;
    cursor: pointer;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
        align-items: center;
    }
}

.list-item__dark {
    @extend .list-item;
    color: white;
    background: #32373e;
    border-bottom: 1px solid #88939d;
    &:hover {
        background: #292b2d;
    }
}

.list-item--message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    color: $grey;
    font-size: 1.4rem;
}

.list_item__subtitle--dark {
    @extend .list-item__subtitle;
    color: $darktheme-altGrey;
}

.list-item__data {
    margin: $s-size 0 0 0;

    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}

.list-body {
    margin-bottom: $m-size;

    @media(min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}