.manageExpenses {
    display: flex;
    flex-direction: column;
    width: 80rem;
    margin: 3rem;
}

.manageExpenses__button {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
}

.datepicker-container {

    @media (max-width: $desktop-breakpoint) {
        display: flex;
        justify-content: space-around;
        align-items: center;    
    }
}